<!DOCTYPE html>

<!-- Ниже строчка, которая указывает, что мы используем таймлиф -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<!-- th:action - это то, куда форма будет передавать свои данные,
а именно в атрибуте th:object мы передаем объект user, т.е. это объект под ключом user,
который мы положили в модель в методе newUser.
Label (метка) нужна д/того, чтобы пользователь знал, какое значение вводить в поле-->

<form th:method="POST" th:action="@{/all}" th:object="${user}">

    <label for="name"> Введите имя: <label/>  <!-- Эта метка для input, id которого "name"-->
    <input type="text" th:field="*{name}" id="name" />
    <br/> <!--Это пустая строка-->

    <label for="lastName"> Введите фамилию: <label/>  <!-- Эта метка для input, id которого "name"-->
    <input type="text" th:field="*{lastName}" id="lastName" />
    <br/> <!--Это пустая строка-->

    <label for="age"> Введите возраст: <label/>  <!-- Эта метка для input, id которого "name"-->
    <input type="должен быть тип числовой" th:field="*{age}" id="age"/>
    <br/> <!--Это пустая строка-->

    <input type="submit" value="Создать нового пользователя"/> <!--Это кнопка, нажав которую мы
     данные с этой формы отправим post-запросом на адрес /all. А в контроллере в методе newUser
     будут назначены значения полям объекту User user-->

</form>
</body>
</html>